@model List<hamko.Models.StockOut>

@{
    ViewData["Title"] = "StockOut List";
}

<h2>StockOut List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Sales ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.SalesId</td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>
